@import url('https://fonts.googleapis.com/css2?family=Monda:wght@700&display=swap');

body{
    background-image: url('../../img/BG.jpg'); 
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    height: 968px;

    
    

}


.homeArea{
  
    margin: auto;
    text-align: center;
    
    

}

.center{
    
    display: flex;
    justify-content: center;
    display: inline-block; 
    text-align: center;
    margin: 2%;
    /* box-shadow: 10px 10px 14px rgba(15, 15, 15, 0.329); */
   

}

.cardArea{
   
    width: 200px;
    height: 200px;
    text-align: center;
    float: left;
    margin: 2%;
    padding: 5px;
    /* margin: 0 auto;
    margin: 2%;
    margin-left: 5%; */
    cursor: pointer;
    
    

}

/* .cardArea:hover{
   
    transform: scale(1.1);
    box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.37);
    opacity: 90%;


} */

@media only screen and (max-width: 600px) {
    .center {
        width: 60%;
        padding-left: 10%;
        /* display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: block; 
        text-align: center; */
      
    }
  }

  .intro{
    font-family: 'Monda', sans-serif;
    letter-spacing: .5rem;
    color: cornsilk;
    background-color: rgba(204, 119, 8, 0.404);

  }