.header img{
    height: 80px;
}

.header{
    text-align: center;
}

.header nav{
    background-color: rgb(255, 255, 255);
    line-height: 40px;
    font-size: 20px;
}

nav a{
    text-decoration: none;
    color: rgb(0, 94, 246);
    margin-right: 20px;
    padding: 5px;
    transition: 0.4s;
}

nav a:hover{
    background-color: gray;
}